<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Darwin’s Monster Encyclopaedia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE57161D1E9223BF00868D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5716351E9223BF00868D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5716401E9223BF00868D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
